<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>R6 Case</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" href="r6_pack.png" type="image/x-icon">

        <script src="https://js.stripe.com/v3/"></script>
        <script src="javascript/com_serveur.js" defer></script>
        <script src="javascript/popup_profile.js" defer></script>
</head>
<body>
    <header>
        <div class="navbar">
            <a id="lien" href="/">Home</a>
            <a id="lien" href="/skins">Skins</a>
            <a id="lien" href="/about">About</a>
            <a id="lien" href="/achat">Boutique</a>
            <% if (profile != undefined) { %>
                <% if (logUser && logUser.isAdmin) { %>
                    <a id="lien" href="/profiles">Les profiles</a>
                <% } %>
                <div id="profile-container" class="profile-container">
                    <p><%= profile.username %></p>
                    <img class="img_user" id="imgHover" style="width: 60px; height: 60px;" src="/image_user/<%= profile.image %>" alt="Image de l'utilisateur">
                    <div class="popup" id="popup" style="display: none;">
                        <a id="profil" href="/inventaire"><span class="hover-underline-animation">Profil</span></a>
                        <a id="inventaire" href="/inventaire"><span class="hover-underline-animation">Inventaire</span></a>
                        <a id="deconnexion" href="#" onclick="decoProfile()"><span class="hover-underline-animation">Sign out</span></a>
                    </div>
                    <p id="money-display" class="money"><%= profile.money %></p>
                    <a href="/test"><img class="img_user" style="width: 30px; height: 30px;" src="/SkinR6//RenoR6/R6S-renown-icon.jpg" alt="Image de l'utilisateur"></a>
                </div>
            <% } else { %>
                <div class="log-container">
                    <a id="loginButton" class="case-button">LogIn</a>
                </div>
            <% } %>
        </div>
    </header>

    <div class="container_achat">
        <h1 class="titre_achat">Choisissez une option d'achat :</h1>
        <div>
            <img class="img_user" style="width: 60px; height: 60px;" src="/SkinR6//RenoR6/R6S-renown-icon.jpg" alt="Image de l'utilisateur">
            <p>5000 R6 Coin</p>
            <button >Add to bag</button>
            <div class="wrapper">
                <button class="" onclick="acheter(5)">
                    <span>Buy now</span>
                    <div class="success">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 29.756 29.756" style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">
                            <path d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z"/>
                        </svg>
                    </div>
                </button>
              </div>
        </div>
        <div>
            <p>Acheter 10 euros pour obtenir</p><br>
            <p>10000 R6 Coin<img class="img_user" style="width: 30px; height: 30px;" src="/SkinR6//RenoR6/R6S-renown-icon.jpg" alt="Image de l'utilisateur"></p>
            <button onclick="acheter(10)">Acheter</button>
        </div>
        <div>
            <p>Acheter 20 euros pour obtenir</p><br>
            <p>20000 R6 Coin<img class="img_user" style="width: 30px; height: 30px;" src="/SkinR6//RenoR6/R6S-renown-icon.jpg" alt="Image de l'utilisateur"></p>
            <button onclick="acheter(20)">Acheter</button>
        </div>
        <div>
            <p>Acheter 50 euros pour obtenir</p><br>
            <p>50000 R6 Coin<img class="img_user" style="width: 30px; height: 30px;" src="/SkinR6//RenoR6/R6S-renown-icon.jpg" alt="Image de l'utilisateur"></p>
            <button onclick="acheter(50)">Acheter</button>
        </div>
    </div>

    <script>
        function acheter(montant) {
            window.location.href = `/paiement?montant=${montant}`;
        }
    </script>
</body>
</html>
