<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" href="r6_pack.png" type="image/x-icon">

        <script src="javascript/com_serveur.js" defer></script>
        <script src="javascript/popup_profile.js" defer></script>
    </head>
    
    <body>
        <header>
            <!-- Barre de navigation (navbar) -->
            <div class="navbar">
                <a id="lien" href="/">Home</a>
                <a id="lien" href="/">Skins</a>
                <a id="lien" href="#">About</a>
                <a id="lien" href="#">Contact</a>
                <% if (profile != undefined) { %>
                    <!-- Afficher l'image de l'utilisateur -->
                    <div id="profile-container" class="profile-container" onclick="showpop_profile()"><!-- finir-->
                        <p><%= profile.name %></p><img class="img_user" id="imgHover" style="width: 60px; height: 60px;" src="/image_user/<%= profile.image %>" alt="Image de l'utilisateur">
                        <div class="popup" id="popup" style="display: none;">
                            <a id="profil" href="/"><span class="hover-underline-animation">Profil</span></a>
                            <a id="inventaire" href="/inventaire"><span class="hover-underline-animation">Inventaire</span></a>
                            <a id="deconnexion" onclick="decoProfile()"><span class="hover-underline-animation">Sign out</span></a>
                        </div>
                    </div>
                <% } else { %>
                    <!-- Afficher le bouton de connexion -->
                    <div class="log-container">
                        <a class="case-button" href="/profiles">LogIn</a>
                    </div>
                <% } %>
            </div>
        </header>
            
        <div class="all_contain">
            <div class="for_title">
                <h1 class="title">Tous nos Skins</h1>
            </div>
    
            <div class="container_invent">  
                <div class="container_skins">
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div> 
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                    <div><img class="img_pack" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                </div>
            </div>     
        </div>

    </body>
</html>