<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" href="r6_pack.png" type="image/x-icon">
    </head>
    
    <body>
        <header>
            <!-- Barre de navigation (navbar) -->
            <div class="navbar">
                <a id="lien" href="/">Home</a>
                <a id="lien" href="/">Cases</a>
                <a id="lien" href="#">About</a>
                <a id="lien" href="#">Contact</a>
            </div>
        </header>
            
        <div class="for_all"> 
            <h1 class="title">Tous nos packs</h1>
            <div class="container_skins">
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div> 
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
                <div><img class="img_skins" src="/image_pack/AlphaPack.jpg" alt=""><p>pourcentage de chance</p> <br> <p>Valeur Marchande</p></div>
            </div>
        </div>     
    </body>
</html>