<!-- views/ma-page-ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="r6_pack.png" type="image/x-icon">
    <!-- Inclure le script Stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="javascript/com_serveur.js" defer></script>
    <script src="javascript/popup_profile.js" defer></script>
</head>
<body>
    <header>
        <!-- Barre de navigation (navbar) -->
        <div class="navbar">
            <a id="lien" href="/">Home</a>
            <a id="lien" href="/skins">Skins</a>
            <a id="lien" href="/test">About</a>
            <% if (profile != undefined) { %>
                <a id="lien" href="/profiles">Les profiles</a>
                <!-- Afficher l'image de l'utilisateur -->
                <div id="profile-container" class="profile-container">
                    <p><%= profile.username %></p>
                    <img class="img_user" id="imgHover" style="width: 60px; height: 60px;" src="/image_user/<%= profile.image %>" alt="Image de l'utilisateur">
                    <div class="popup" id="popup" style="display: none;">
                        <a id="profil" href="/profiles"><span class="hover-underline-animation">Profil</span></a>
                        <a id="inventaire" href="/inventaire"><span class="hover-underline-animation">Inventaire</span></a>
                        <a id="deconnexion" href="#" onclick="decoProfile()"><span class="hover-underline-animation">Sign out</span></a>
                    </div>
                    <p class="money"><%= profile.money %></p>
                    <img class="img_user" style="width: 30px; height: 30px;" src="/SkinR6//RenoR6/R6S-renown-icon.jpg" alt="Image de l'utilisateur">
                </div>
            <% } else { %>
                <!-- Afficher le bouton de connexion -->
                <div class="log-container">
                    <a id="loginButton" class="case-button">LogIn</a>
                </div>
            <% } %>
        </div>
    </header>


    <!---------------------------- POPUP / SEARCHBAR -------------------------------------->
    
    <div class="inscription" style="display: none;" id="inscription">
        <form class="Formin" action="/register" method="post">
            <h1 class="title_creation">Inscrivez-vous</h1>

            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
            
            <label for="selectedImg">Choisir une image :</label>
            <div class="image-selection-container">
                <div id="selected-image" class="selected-image"></div>
                <input type="file" id="selectedImg" name="selectedImg" accept="image/*" onchange="previewImage()">
            </div>
            <div id="image-scroll" class="image-scroll"></div>
            
            <button class="button_submit" type="submit">S'inscrire</button>
        </form>
        <button id="closepopup">Fermer</button>
    </div>
    
    <div id="loginPopup" style="display: none;">
        <form id="loginForm" action="/login" method="post">
            <h1 class="title_creation">Connectez-vous</h1>
            <!-- Ajoutez les champs nécessaires pour le formulaire de connexion -->
            <label for="usernameLogin">Nom d'utilisateur:</label>
            <input type="text" id="usernameLogin" name="usernameLogin" required>
            
            <label for="passwordLogin">Mot de passe:</label>
            <input type="password" id="passwordLogin" name="passwordLogin" required>
            
            <button class="button_login"  type="submit">Se connecter</button>
            <a id="a_login" onclick="popUp()" href="#">Nouvel utilisateur inscrit toi</a>
        </form>
        <button id="closePopup">Fermer</button>
    </div>

    <!-- Formulaire de paiement avec des éléments Stripe -->
    <div class="test">
        <div class="container_payment">
            <form action="/charge" method="post" id="payment-form">
                <!-- Les champs du formulaire -->
                <input type="text" id="card-holder-name" placeholder="Nom du titulaire de la carte" required>
                <div id="card-element"></div>
                <button class="payment" type="submit">Payer</button>
            </form>
        </div>
    </div>

    <script>
        var stripe = Stripe('pk_test_51OGlUbJjPngOvvrwWcAhhoygGj6zit4X6ofFfmrM1aHHxqLtCy7ahnnTh7w2UT4EQcNoh5zv6Oeb7UNPGlJ3JMO200MdhezJYv');
    </script>
    <!-- Script JavaScript pour gérer les paiements avec Stripe -->
    <script>
        
        var elements = stripe.elements();

        // Personnalisez le formulaire de paiement
        var style = {
            base: {
                fontSize: '16px',
                color: '#32325d',
            },
        };

        var card = elements.create('card', { style: style });
        card.mount('#card-element');

        // Gérez la soumission du formulaire
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Gestion des erreurs
                    console.error(result.error.message);
                } else {
                    // Envoi du token au serveur Node.js pour traitement
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            // Envoyez le token au serveur Node.js pour le traitement
            fetch('/charge', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ token: token.id }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Traitez la réponse du serveur
            })
            .catch(error => {
                console.error('Erreur:', error);
            });
        }
    </script>
</body>
</html>
