body {
    color: #fff;
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
    font-style: normal;
}

/******************************** navbar **********************************************/

.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #333;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.navbar a#lien {
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.navbar a#lien:hover {
    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #333;
}

.profile-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.profile-container p{
    margin-right: 1vh;
}

#imgHover{
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#imgHover:hover + .popup {
    display: flex;
}

.popup {
    display: inline-flex;
    position: fixed;
    top: 100px;
    z-index: 100;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 20px 30px;
    width: 10vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup a {
    text-align: center;
    margin: 1vh 0 1vh 0;
    color: white;
}

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3498db;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.popup a:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.title{
    top: 0;
}

/******************************** search-bar **********************************************/

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    border-radius: 5px;
    margin: 0 10px; 
}

.button {
    border-radius: 5px;
    background-color: BLUE;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover {
    cursor: pointer;
    background-color: white;
}

/******************************** case **********************************************/

.case-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.case-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.case-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.case-button:hover {
    background-color: #2980b9;
}


/* ============================PACK==================================== */

.pack-container-title {
    display: flex;
    margin-left: 10vh;
    margin-top: 40vh;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
}

.pack-container{
    display: flex;
    text-align: center;
    align-items: flex-end;
    background-color: #1e1e1e;
    padding: 4vh 8vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pack{
    margin-right: 2ch 0 2vh 0;
}

.img_pack{
    width: 50%;
}

/* ============================PROFILE =========================================*/

.profiles-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profiles-container div{
    margin: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px 60px;
    border-radius: 50px;
    cursor: pointer;
}

.profiles-container #name {
    font-size:20px;
    color: white;
}

.img_user{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

/* ============================ VIDEO BACK ==================================== */


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
  
#video-background {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, #121212, rgba(0, 0, 0, 0) );
}

.gradient-overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color:#121212;
}


/* ================================= PAGE OPENING ========================================== */


/* ===================== FOR ALL/PACK/BUTTON ============================ */


.for_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.loterie {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5vh 0 0 0;
}

.loterie:hover {
    background-color: #2980b9;
}

.open_packs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_pack {
    max-width: 100%; /* Rend l'image responsive */
    height: auto;
    margin: 5vh 0 2vh 0; /* Ajoutez un espacement entre la navbar et l'image */
}


/* ===================== SIZE FOR HEIGHT ============================ */


/* Utilisation de media queries pour rendre la mise en page plus responsive */
@media screen and (max-height: 800px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 20vh; 
    }
}

@media screen and (max-height: 680px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 40vh; 
    }
}

@media screen and (max-height: 610px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 70vh; 
    }
}

@media screen and (max-height: 520px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 80vh; 
    }
}

@media screen and (max-height: 500px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 90vh; 
    }
}

@media screen and (max-height: 460px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 120vh; 
    }
}

@media screen and (max-height: 400px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 150vh; 
    }
}


/* ===================== LOTERIE/CURSOR/BUTTON ============================ */


#wheel {
    display: flex;
    position: absolute;
}

#wheel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    width: 800px;
    height: 100px;
    overflow: hidden;
    border: 3px solid #3498db;
}

.loterie_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.wheel-slice {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-top: 5px solid;
    border-radius: 4px;
    margin: 1vh;
    padding: 0px;
}

.wheel-slice div {
    width: 100px;
    height: 100px;
}

.cursor {
    width: 2px;
    height: 100px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}


/* ===================== SKIN ============================ */


.container_skins{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 5vh 0 0 0;
    padding: 2vh;
    width: 70%;
}

.container_skin{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-top: 5px solid;
    border-radius: 4px;
    margin: 1vh;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container_skin:hover{
    transform: scale(1.05);
}

.img_skin{
    width: 200px;
    height: 100px;
}

.container_skins #droprate{
    position: absolute;
    right:10px;
    bottom:-10px;
    font-size: 14px;
    color: gray;
}

.container_skins #skin_name{
    position: absolute;
    left:10px;
    bottom:1px;
    font-size: 17px;
    font-weight: bold;
}

.container_skins #arme_name{
    position: absolute;
    left:10px;
    bottom:-10px;
    font-size: 14px;
    color: gray;
}

.container_skins #prix{
    position: absolute;
    left:7px;
    top:-5px;
    font-size: 12px;
    color: rgb(255, 230, 0);
}

.container_skins #rarity{
    position: absolute;
    right:10px;
    top:-10px;
    font-size: 14px;
}


/* ===================== RESULT ============================ */


.container_result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    z-index: 9;
    padding: 5%;
}

.container_result button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5vh 0 0 0;
}

.container_result button:hover {
    background-color: #2980b9;
}

#results{
    text-align: center;
    font-size: 1em;
    color: black;
}


/* ================================= PAGE INVENTAIRE ========================================== */

.all_contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.for_title{
    top: 0;
}