body {
    color: #fff;
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
    font-style: normal;
}

/******************************** navbar **********************************************/

.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #333;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.navbar a#lien {
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.navbar a#lien:hover {
    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #333;
}

.profile-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.profile-container p{
    margin-right: 1vh;
}

#imgHover{
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#imgHover:hover + .popup {
    display: flex;
}

.popup {
    display: inline-flex;
    position: fixed;
    top: 100px;
    z-index: 100;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 20px 30px;
    width: 10vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup a {
    text-align: center;
    margin: 1vh 0 1vh 0;
    color: white;
}

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3498db;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.popup a:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.title{
    top: 0;
}

.button {
    border-radius: 5px;
    background-color: BLUE;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover {
    cursor: pointer;
    background-color: white;
}

.money{
    margin: 0 0 0 2vh;
}


/******************************** SIGN IN / LOGIN **********************************************/


#loginPopup{
    background-color: white;
    display: flex;
    position: fixed;
    left: 37%;
    top:30%;
    padding: 3vh 10vh;
    flex-direction: column;
    border-radius: 20px;
    z-index: 10;
}

#loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginForm label{
    color: black;
    margin: 1vh 0 1vh 0;
}

#loginForm a{
    color: black;
    margin: 1vh 0 0 0;
}

.button_login{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 2vh 0 2vh 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_login:hover {
    background-color: #2980b9;
}

#closePopup{
    position: absolute;
    top:0;
    right:0;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#closePopup:hover {
    background-color: #2980b9;
}

#loginForm input{
    padding: 10px;
    margin: 1vh 0 0 0;
    border-color: #3498db;
    
}

.inscription{
    background-color: white;
    display: flex;
    position: fixed;
    left: 32%;
    top:25%;
    padding: 3vh 10vh;
    flex-direction: column;
    border-radius: 20px;
    z-index: 9;
}

.Formin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh 0 0 0;
}

.Formin label{
    color: black;
    margin: 1vh 0 0 0;
}

.button_submit{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_submit:hover {
    background-color: #2980b9;
}

.Formin input{
    padding: 10px;
    margin: 1vh 0 0 0;
    border-color: #3498db;
    
}

.image-selection-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #3498db; /* Bordure pour l'image sélectionnée */
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.selected-image img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.image-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px;
}

.image-scroll img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

/******************************** case **********************************************/

.case-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.case-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.case-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.case-button:hover {
    background-color: #2980b9;
}


/* ============================PACK==================================== */

h1{
    color: white;
}

.name{
    color: white;
}

.pack-container-title {
    display: flex;
    margin-left: 10vh;
    margin-top: 40vh;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
}

.pack-container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #1e1e1e;
    padding: 4vh 8vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
}

.pack{
    margin: 0vh 2vh 2vh 0vh;
}

.img_pack{
    width: 200px;
    height: 200px;
}


/* ============================ VIDEO BACK ==================================== */


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-background {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, #121212, rgba(0, 0, 0, 0) );
}

.gradient-overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color:#121212;
}


/* ================================= PAGE OPENING ========================================== */


/* ===================== FOR ALL/PACK/BUTTON ============================ */


.for_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.loterie {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:  2vh 0 0 0;
}

.loterie:hover {
    background-color: #2980b9;
}

.open_packs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_pack {
    max-width: 100%; /* Rend l'image responsive */
    height: auto;
    margin: 10vh 0 0 0; /* Ajoutez un espacement entre la navbar et l'image */
}


/* ===================== SIZE FOR HEIGHT ============================ */


/* Utilisation de media queries pour rendre la mise en page plus responsive */
@media screen and (max-height: 800px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 30vh; 
    }
}

@media screen and (max-height: 680px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 40vh; 
    }
}

@media screen and (max-height: 610px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 70vh; 
    }
}

@media screen and (max-height: 520px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 80vh; 
    }
}

@media screen and (max-height: 500px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 90vh; 
    }
}

@media screen and (max-height: 460px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 120vh; 
    }
}

@media screen and (max-height: 400px) {
    
    .open_packs {
        position: relative;
        top: 0;
        margin-top: 150vh; 
    }
}


/* ===================== LOTERIE/CURSOR/BUTTON ============================ */


#wheel {
    display: flex;
    position: absolute;
}

#wheel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    width: 800px;
    height: 125px;
    overflow: hidden;
    border: 3px solid #3498db;
}

.loterie_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.wheel-slice {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-top: 5px solid;
    border-radius: 4px;
    margin: 0.5vh;
    padding: 10px;
}

.cursor {
    width: 5px;
    height: 125px;
    background-color: #ff000086;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}


/* ===================== SKIN ============================ */


.container_skins{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 5vh 0 0 0;
    padding: 2vh;
    width: 70%;
}

.container_skin{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-top: 5px solid;
    border-radius: 4px;
    margin: 1vh;
    padding: 20px;
    cursor: pointer;
    background-color: #1e1e1e;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.container_skin:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.img_skin{
    width: 200px;
    height: 100px;
}

div p#droprate{
    position: absolute;
    right:10px;
    bottom:-10px;
    font-size: 14px;
    color: gray;
}

div p#skin_name{
    position: absolute;
    left:10px;
    bottom:1px;
    font-size: 17px;
    font-weight: bold;
}

div p#arme_name{
    position: absolute;
    left:10px;
    bottom:-10px;
    font-size: 14px;
    color: gray;
}

div p#prix{
    position: absolute;
    left:7px;
    top:-5px;
    font-size: 12px;
    color: rgb(255, 230, 0);
}

div p#rarity{
    position: absolute;
    right:10px;
    top:-10px;
    font-size: 14px;
}


/* ===================== RESULT ============================ */


.container_result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    z-index: 9;
    padding: 5%;
}

.container_result button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5vh 0 0 0;
}

.container_result button:hover {
    background-color: #2980b9;
}

#results{
    text-align: center;
    font-size: 1em;
    color: black;
}




/* ================================= PAGE PROFILE ========================================== */

.profiles-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profiles-container div{
    margin: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px 60px;
    border-radius: 50px;
    cursor: pointer;
}

.profiles-container #name {
    font-size:20px;
    color: white;
}

.img_user{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}


/* ========================= BUTTON ADD DELETE =============================== */

.title_creation{
    color: black;
    z-index: 999;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
    right: 0;
    position: absolute;
}

.btn-add {
    display: flex; /* Par défaut, le bouton est caché */
    margin: 0 0 2vh 0;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add:hover {
    background-color: #2980b9;
}


.btn-supprimer {
    display: none; /* Par défaut, le bouton est caché */
    margin: 0 0 2vh 0;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-supprimer:hover {
    background-color: #2980b9;
}

.visible {
    display: inline-block !important; /* Rend le bouton visible */
}


/* ================================= PAGE SKINS ========================================== */

/* ========================= SEARCH BAR =============================== */

.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16%;
    width: 100%;
    margin: 0 auto;
}

:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #fff;
    --color-light: #5e5e5e;
    --color-brand: #2980b9;
    --font-fam: 'Lato', sans-serif;
    --height: 3rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.search-bar {
    position: relative;
    width: 25rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}

.search, .button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.2rem;
}

input[type="search"] {
    outline: 0; 
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}

.search:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + button {
        display: block;
    }
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* ========================= SKINS / TITLE =============================== */


.for_skins{
    margin: 30vh 20vh;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.skins-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.skins-container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.skins-container p{
    color: white;
    text-align: center;
}




/* ================================= PAGE INVENTAIRE ========================================== */


.test{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3vh 5vh;
}


.container_payment{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5vh 5vh;
    border: 3px solid rgb(187, 168, 0);
}

#payment-form {
    width: 300px;
}

#card-holder-name,
#card-number {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}

#card-element {
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid #3a3838;
    background-color: #121212;
    color: #fff;
}

.payment {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.payment :hover {
    background-color: #45a049;
}
